.container {
    text-align: center;
}

#main-header {
    margin-top: 50px;
    color: white;
}

#main-form {
    margin-top: 100px;
}

span {
    background: #007bff !important;
}

span {
    color: white !important;
}

nav {
    background: black !important;
    border-bottom: 4px solid white;
}

body {
    background: black;
    background-image: url('https://www.tokkoro.com/picsup/3304630-line-waves-light-colorful-smoke.jpg');
    background-position: top;
}

label,
div {
    color: #007bff;
}

input {
    background-color: black !important;
    color: white !important;
}

textarea {
    border: 1px solid white;
    background: black !important;
}

.add-param-button:hover {
    filter: brightness(1.4);
    transition-duration: 0.3s;
}